[include]
    path = ~/.git-perso.conf
[includeIf "gitdir:~/bcg/"]
    path = ~/.git-bcg.conf
[includeIf "gitdir:~/bcg/airlines"]
    path = ~/.git-airlines.conf
[core]
    editor = nvim
[init]
    defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = fahmymohamed
	email = fahmy.mohamed@bcg.com
