* {
    font-size: 14px;
    font-weight: bold;
    font-family: "Iosevka";
}

window#waybar {
    /* background: #1a1a1a; */
    background: transparent;
    color: #fdf6e3;
    /* opacity: 0.5; */
	/* background-color: transparent; */
	/* transition-property: background-color; */
	/* transition-duration: .5s; */
	/* border-radius: 5px; */
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    padding: 0 10px;
}

#workspaces button {
    padding: 0px 8px;
    color: #fdf6e3;
}
#workspaces button.active {
    color: #33ccff;
    background: #2b2b2b;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: #3c3c3c;
    border: #fdf6e3;
    padding: 0 9px;
}

#pulseaudio {
    color: #268bd2;
}
#memory {
    color: #2aa198;
}
#cpu {
    color: #6c71c4;
}
#battery {
    color: #859900;
}
#disk {
    color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    padding: 0 10px;
}
