* {
    font-size: 12px;
    font-weight: bold;
    /* font-family: "DM Mono"; */
    /* font-family: "CodeNewRoman Nerd Font Propo"; */
    font-family: "Noto Sans Mono";
}

#workspaces {
    font-size: 20px;
}

window#waybar {
    /* background: #1a1a1a; */
    background: transparent;
    color: #fdf6e3;
    /* opacity: 0.5; */
	/* background-color: transparent; */
	/* transition-property: background-color; */
	/* transition-duration: .5s; */
	/* border-radius: 5px; */
}

#taskbar {
    background-color: rgba(19, 19, 19, 0.5);
    border-radius: 4px;
    /* margin: 5px 10px 5px 0px; */
}

#network,
#pulseaudio,
#memory,
#cpu,
#battery,
#custom-todo,
/* #window, */
#disk,
#custom-lock,
#custom-exit,
#custom-fuzzel,
#custom-terminal,
#custom-browser,
#custom-fileman,
#custom-sound,
#custom-screenshot {
    padding: 0 8px;
    /* background: #191919; */
    background-color: rgba(19, 19, 19, 0.5);
    border-radius: 4px;
    color: #01ffff;
}

#clock {
    padding: 0 4px 0 16px;
    margin: 0 16px;
}

#window {
    padding: 0 16px;
    margin: 0 16px;
}

#window {
    /* padding: 4px 100px 4px 4px; */
}

#workspaces {
    /* padding: 0px 0px 0px 12px; */
    background-color: rgba(19, 19, 19, 0.5);
    border-radius: 4px;
}

#workspaces button {
    padding: 4px 8px;
    color: #fdf6e3;
    border-radius: 4px;
}
#workspaces button.active {
    color: #01ffff;
    /* #01FFFF */
    /* background: #3b3b3b; */
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:hover {
    background: #3c3c3c;
    border: #fdf6e3;
    padding: 0 9px;
    border-radius: 4px;
}

#custom-fuzzel,
#custom-terminal,
#custom-browser,
#custom-lock,
#custom-screenshot,
#custom-fileman,
#custom-sound,
#custom-exit,
#clock {
    background-color: rgba(19, 19, 19, 0.5);
    border-radius: 4px;
    margin: 0 2px;
}

#custom-fuzzel:hover,
#custom-terminal:hover,
#custom-browser:hover,
#custom-lock:hover,
#custom-screenshot:hover,
#custom-fileman:hover,
#custom-sound:hover,
#custom-exit:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #3c3c3c;
    border: #fdf6e3;
}

/* #workspaces button { */
/*     padding: 0 0.5em; */
/*     background-color: #1a1a1a; */
/*     color: #fdf6e3; */
/*     margin: 0.35em; */
/* } */
/* #workspaces button.empty { */
/*     color: #33ccff; */
/* } */
/* #workspaces button.visible { */
/*     color: #fdf6e3; */
/* } */
/**/
/* #workspaces button.active { */
/*     color: #fdf6e3; */
/* } */
/**/
/* #workspaces button.urgent { */
/*     background: #3c3c3c; */
/*     border-radius: 1rem; */
/* } */


#custom-fuzzel {
}

#custom-todo {
    color: #ff6969;
}

#network {
    color: #694;
}

#pulseaudio {
    color: #268bd2;
}
#memory {
    color: #6c71c4;
}
#cpu {
    color: #b58900;
}
#battery {
    color: #859900;
}
#disk {
    color: #2aa198;
}


