* {
    font-size: 12px;
    font-weight: bold;
    font-family: "DM Mono";
}

/* #clock, */
/* #workspaces, */
/* #window { */
/*     font-size: 13px; */
/* } */

window#waybar {
    /* background: #1a1a1a; */
    background: transparent;
    color: #fdf6e3;
    /* opacity: 0.5; */
	/* background-color: transparent; */
	/* transition-property: background-color; */
	/* transition-duration: .5s; */
	/* border-radius: 5px; */
}

#network,
#pulseaudio,
#memory,
#cpu,
#battery,
#custom-todo,
#window,
#disk,
#custom-lock,
#custom-exit,
#custom-fuzzel,
#custom-terminal,
#custom-browser
{
    padding: 0 16px;
}

#clock {
    padding: 0 4px 0 16px;
}

#window {
    padding: 0 16px;
}

#custom-fuzzel {
    color: #ed24a8;
}

#custom-terminal {
    color: #ed24a8;
}

#custom-browser {
    color: #ed24a8;
}

#custom-lock {
    color: #ed24a8;
}

#custom-exit {
    color: #ed24a8;
}

#window {
    /* padding: 4px 100px 4px 4px; */
}

#workspaces {
    /* padding: 0px 0px 0px 12px; */
}

#workspaces button {
    padding: 4px 8px;
    color: #fdf6e3;
    border-radius: 0;
}
#workspaces button.active {
    color: #01ffff;
    /* #01FFFF */
    /* background: #3b3b3b; */
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:hover {
    background: #3c3c3c;
    border: #fdf6e3;
    padding: 0 9px;
}

#custom-fuzzel:hover,
#custom-terminal:hover,
#custom-browser:hover,
#custom-lock:hover,
#custom-exit:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #3c3c3c;
    border: #fdf6e3;
    /* padding: 0 9px; */
}

/* #workspaces button { */
/*     padding: 0 0.5em; */
/*     background-color: #1a1a1a; */
/*     color: #fdf6e3; */
/*     margin: 0.35em; */
/* } */
/* #workspaces button.empty { */
/*     color: #33ccff; */
/* } */
/* #workspaces button.visible { */
/*     color: #fdf6e3; */
/* } */
/**/
/* #workspaces button.active { */
/*     color: #fdf6e3; */
/* } */
/**/
/* #workspaces button.urgent { */
/*     background: #3c3c3c; */
/*     border-radius: 1rem; */
/* } */


#custom-fuzzel {
}

#custom-todo {
    color: #ff6969;
}

#network {
    color: #694;
}

#pulseaudio {
    color: #268bd2;
}
#memory {
    color: #6c71c4;
}
#cpu {
    color: #b58900;
}
#battery {
    color: #859900;
}
#disk {
    color: #2aa198;
}


